#root {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#root>#todo-item-form {
    margin: auto;
    width: 200px;
}

#list, #root {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 600px;

}

.only-open>.done {
    display: none;
}

#create-item-form {
    height: 1.3em;
    display: flex;
    flex-direction: row;
    align-items: normal;
}


.item {
    margin-top: 10px;
    border: violet 1px dotted;
    display: flex;
    align-items: center;
    background-color: #9eda59;

}

.title, .description .date {
    margin-left: 10px;
}

#checkbox {
    width: 20px;
}

.done .title {
    text-decoration: line-through;
}

.line-through .title, .line-through .description {
    color: gray;
}

.title {
    flex: 1;
    line-height: 150%;
    font-size: 120%;
    color: black;
}

.description {
    flex: 2;
    color: darkgreen;
}

.date {
    flex: 1;
    margin-left: 10px;
}

.overdue-date {
    color: red;
}
