#root {
    display: grid;
    grid-template-columns: 200px 600px;
}

#root>aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-items: start;
    background-color: #C9F76F;
}

#list {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
}

#new-item-form {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: normal;
    background-color: #AD66D5;
}

.item {
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
}

#list>.item {
    padding: 0;
    margin-top: 10px;
    border: violet 1px dotted;
    border-radius: 20px;
    background-color: #f1f4ff;
}

.title, .description .date {
    margin-left: 10px;
}

.title {
    flex: 1;
    line-height: 150%;
    font-size: 120%;
}

.description {
    flex: 2;
    color: darkgreen;
}

.date {
    flex: 1;
}

.delete {
    margin-right: 5px;
}

#checkbox {
    width: 20px;
}

.line-through .title, .line-through .description {
    color: gray;
}

.done .title {
    text-decoration: line-through;
}

.overdue-date {
    color: red;
}

aside li {
    list-style: none;
}


/*
.only-open>.done {
    display: none;
}
*/